In [5]:
t = ()

In [6]:
type(t)

tuple

In [7]:
t1 = (234,34,"prateek",3.45,True)

In [8]:
l1 = [234,34,"prateek",3.45,True]

In [9]:
t1[0]

234

In [10]:
t1[0:4]

(234, 34, 'prateek', 3.45)

In [11]:
t1[::-1]

(True, 3.45, 'prateek', 34, 234)

In [12]:
t1[-1]

True

In [13]:
l1[0]

234

In [14]:
l1[0] = "kumar"    #change the value 234 is replace as "kumar"

In [15]:
l1

['kumar', 34, 'prateek', 3.45, True]

In [16]:
t1

(234, 34, 'prateek', 3.45, True)

In [17]:
t1[0]

234

In [18]:
t1[0] = "dfdffs"   #tuple is inmutable collection where as list is mutable

TypeError: 'tuple' object does not support item assignment

In [19]:
t2 = (234,34,54,565)

In [20]:
t2

(234, 34, 54, 565)

In [21]:
t1+t2

(234, 34, 'prateek', 3.45, True, 234, 34, 54, 565)

In [22]:
t1*4

(234,
 34,
 'prateek',
 3.45,
 True,
 234,
 34,
 'prateek',
 3.45,
 True,
 234,
 34,
 'prateek',
 3.45,
 True,
 234,
 34,
 'prateek',
 3.45,
 True)

In [23]:
t1

(234, 34, 'prateek', 3.45, True)

In [24]:
34 in t1

True

In [25]:
"ffffd" in t1

False

In [26]:
t1

(234, 34, 'prateek', 3.45, True)

In [27]:
max(t1)

TypeError: '>' not supported between instances of 'str' and 'int'

In [28]:
t3 = (23,343,45,454,54)

In [29]:
max(t3)

454

In [30]:
t4 = ("dffsdf","fdfd","egff")

In [31]:
max(t4)

'fdfd'

In [32]:
t1

(234, 34, 'prateek', 3.45, True)

In [33]:
t1.index(34)

1

In [34]:
l1.index(6)

ValueError: 6 is not in list

In [35]:
t1 = (234,34,"prateek",3.45,34,34,34,True)   #if data is repeated the same number then it will give only one value

In [36]:
t1.index(34)

1

In [37]:
t1.count(34)       #show the data 34 number in data

4

In [38]:
t1

(234, 34, 'prateek', 3.45, 34, 34, 34, True)

In [1]:
min(t1)

NameError: name 't1' is not defined

In [40]:
min(t3)

23

In [41]:
min(t4)

'dffsdf'

In [42]:
t1

(234, 34, 'prateek', 3.45, 34, 34, 34, True)

In [43]:
t5 = (90,45)

In [44]:
t1+t5

(234, 34, 'prateek', 3.45, 34, 34, 34, True, 90, 45)

In [45]:
t6 = 56

In [46]:
l5 = list(t1)             #convert this tuple data to list data

In [47]:
l5

[234, 34, 'prateek', 3.45, 34, 34, 34, True]

In [48]:
l5.insert(3,t6)

In [49]:
l5

[234, 34, 'prateek', 56, 3.45, 34, 34, 34, True]

In [50]:
tuple(l5)       #convert back this data as tuple

(234, 34, 'prateek', 56, 3.45, 34, 34, 34, True)

In [51]:
t = ((3,4,5,6,7) , ("sfsfsf",45,45) , ("456",54) , 45,454,67 , [4,5,6,7,7])

In [52]:
t[6]

[4, 5, 6, 7, 7]

In [53]:
type([6])

list

In [54]:
t[6][1]

5

In [55]:
t[6][1:5]

[5, 6, 7, 7]

In [56]:
t[1]

('sfsfsf', 45, 45)

In [57]:
t[1][0]

'sfsfsf'

In [58]:
t

((3, 4, 5, 6, 7),
 ('sfsfsf', 45, 45),
 ('456', 54),
 45,
 454,
 67,
 [4, 5, 6, 7, 7])

In [59]:
for i in t :
    print(i)

(3, 4, 5, 6, 7)
('sfsfsf', 45, 45)
('456', 54)
45
454
67
[4, 5, 6, 7, 7]

In [60]:
for i in t:
    if type(i) == tuple :
        print(i[0])

3
sfsfsf
456

In [61]:
t1

(234, 34, 'prateek', 3.45, 34, 34, 34, True)

In [62]:
t2

(234, 34, 54, 565)

In [63]:
if len(t1) == len(t2):
    print("its same")
else:
    print("not same")

not same

In [64]:
t = (234, 34, 'prateek',3.45, 34, 34, 34, True, "kumar")

In [ ]:
i = input("take a user input")

if i in t :
    print("yes your name is available")
else :
    print("your name is not available")

In [66]:
t

(234, 34, 'prateek', 3.45, 34, 34, 34, True, 'kumar')

In [67]:
l1

['kumar', 34, 'prateek', 3.45, True]

In [7]:
t = 34

In [8]:
del(t)              #'t' variable delete all the data

In [9]:
t

NameError: name 't' is not defined

In [72]:
del(l1)

In [73]:
l1    # l1 is delete the data

NameError: name 'l1' is not defined

In [74]:
l = [324,343,343,34]

In [75]:
t2

(234, 34, 54, 565)

# Set

In [76]:
x = set()

In [77]:
type(x)

set

In [78]:
l = [34,45,45,45,45,67,34,56,78,"prateek","prateek","prateek","kumar" ,45,4554454554,545,4545,545]

In [79]:
set(l)

{34, 45, 4545, 4554454554, 545, 56, 67, 78, 'kumar', 'prateek'}

In [80]:
s = set(l)

In [81]:
s

{34, 45, 4545, 4554454554, 545, 56, 67, 78, 'kumar', 'prateek'}

In [82]:
for i in s :
    print(i)

kumar
34
67
545
4545
45
78
prateek
56
4554454554

In [83]:
34 in s

True

In [84]:
35 in s

False

In [85]:
s[0]    #s{0} invalid syntax

TypeError: 'set' object is not subscriptable

In [86]:
s = set()
s

set()

In [87]:
s.add(45)

In [88]:
s

{45}

In [89]:
s.add("prateek")

In [90]:
s

{45, 'prateek'}

In [91]:
s.add("dfdff")

In [92]:
s

{45, 'dfdff', 'prateek'}

In [93]:
s.add(245412,454)

TypeError: set.add() takes exactly one argument (2 given)

In [94]:
s.add(45)

In [95]:
s            #this is not repeate the data

{45, 'dfdff', 'prateek'}

In [96]:
s.remove(45)

In [97]:
s                 #remove your data

{'dfdff', 'prateek'}

In [98]:
45 in s                  #data is not available

False

In [99]:
s.clear()

In [100]:
s

set()

In [101]:
s.add("fggfg")

In [102]:
s.add(234)

In [103]:
s.add("wer")

In [104]:
s.add(345)

In [105]:
s

{234, 345, 'fggfg', 'wer'}

In [106]:
s1 = set(l)

In [107]:
l = [345,546545,546545,6546,4556,645,6]

In [108]:
s1

{34, 45, 4545, 4554454554, 545, 56, 67, 78, 'kumar', 'prateek'}

In [109]:
s + s1

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [110]:
s * 4

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [111]:
s

{234, 345, 'fggfg', 'wer'}

In [112]:
list(s)

[345, 'fggfg', 234, 'wer']

In [113]:
l4 = list(s)

In [114]:
l4

[345, 'fggfg', 234, 'wer']

In [115]:
l4.append(345)

In [116]:
l4

[345, 'fggfg', 234, 'wer', 345]

In [117]:
tuple(s)                   #convert tuple into a set

(345, 'fggfg', 234, 'wer')

In [118]:
t4 = tuple(s)

In [119]:
set(t4)     #set to tuples

{234, 345, 'fggfg', 'wer'}

# Dictionary

In [120]:
x = {}

In [121]:
type(x)

dict

In [122]:
x1 = {34,56}

In [123]:
type(x1)

set

In [124]:
x = {"name " :"prateek" , "age": 3455}

In [125]:
type(x)

dict

In [126]:
x1 = {"name " :"prateek" , "age": 3455 ,True : "fsdfs" , "key" : False , 34554 : 456 , "sdffds" : 5435}

In [127]:
x1                     #not working like %,_ these kind of symbol

{'name ': 'prateek',
 'age': 3455,
 True: 'fsdfs',
 'key': False,
 34554: 456,
 'sdffds': 5435}

In [128]:
x1 = {"name " :"prateek" , "age": 3455 ,True : "fsdfs" , "key" : False , 34554:456 , "sdffds" : [34,45,456,54,545]}

In [129]:
x1         #you have to stored collection

{'name ': 'prateek',
 'age': 3455,
 True: 'fsdfs',
 'key': False,
 34554: 456,
 'sdffds': [34, 45, 456, 54, 545]}

In [130]:
x1 = {"name " :"prateek" , "age": 3455 ,True : "fsdfs" , "key" : False , 34554:(45,45,45,45) , "sdffds" : [34,45,456,54,545]}

In [131]:
x1               #tuple you have to created

{'name ': 'prateek',
 'age': 3455,
 True: 'fsdfs',
 'key': False,
 34554: (45, 45, 45, 45),
 'sdffds': [34, 45, 456, 54, 545]}

In [132]:
x1 = {"name " :"prateek" , "age": 3455 ,True : {45,3454,454,54} , "key" : False , 34554:456 , "sdffds" : [34,45,456,54,545]}

In [133]:
x1                               #value wise you have created

{'name ': 'prateek',
 'age': 3455,
 True: {45, 54, 454, 3454},
 'key': False,
 34554: 456,
 'sdffds': [34, 45, 456, 54, 545]}

In [134]:
'x2 = {"name " :{"k1":"wer","k4" :[345,534535,534,]} , "age": 3455 ,True : {45,3454,454,54} , "key" : False , 34554:456 , "sdffds" : [34,45,456,54,545]}'

In [135]:
x2

{'name ': {'k1': 'wer', 'k4': [345, 534535, 534]},
 'age': 3455,
 True: {45, 54, 454, 3454},
 'key': False,
 34554: 456,
 'sdffds': [34, 45, 456, 54, 545]}

In [136]:
x3 = {5:"wer",'k4' :[345,534535,534,]}

In [137]:
x3

{5: 'wer', 'k4': [345, 534535, 534]}

In [138]:
l = [34,45,4,54]
l[2]

4

In [139]:
x2["key"]

False

In [140]:
x2['sdffds']

[34, 45, 456, 54, 545]

In [141]:
type(x2['sdffds'])

list

In [142]:
x2['sdffds'][3]       #you have to extract the data number wise

54

In [143]:
x2["name "]

{'k1': 'wer', 'k4': [345, 534535, 534]}

In [144]:
type(x2["name "])

dict

In [145]:
x2["name "]['k4']        #you have to extract the data like position wise

[345, 534535, 534]

In [146]:
x2["name "]['k4'][2]        #you have to extract the data number wise

534

In [147]:
x3 = {5:"wer",'k4' :[345,534535,534,]}

In [148]:
x4 = {"k4" : "fsdfs"}

In [149]:
x3+x4

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [150]:
x3 * 3

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [151]:
x3

{5: 'wer', 'k4': [345, 534535, 534]}

In [152]:
x3["k4"] = "prateek"     #you have to replace the assignment for other value

In [153]:
x3

{5: 'wer', 'k4': 'prateek'}

In [154]:
x3["k4"] = 456           #replace the name as number

In [155]:
x3

{5: 'wer', 'k4': 456}

In [156]:
x3["k4"] -= 10            #substract the 456 - 10

In [157]:
x3

{5: 'wer', 'k4': 446}

In [158]:
x3["k4"] = x3["k4"] - 10        #this is also a same code like substract

In [159]:
x3

{5: 'wer', 'k4': 436}

In [160]:
x3

{5: 'wer', 'k4': 436}

In [161]:
x3.keys()                       #fine the keys

dict_keys([5, 'k4'])

In [162]:
'k4' in x3.keys()

True

In [163]:
#for i in x3:
    print(i)

IndentationError: unexpected indent (CreatorTemp/ipykernel_12092/2963633290.py, line 2)

In [164]:
x3

{5: 'wer', 'k4': 436}

In [165]:
#for i in x3.keys() :
    print(x3[i])

IndentationError: unexpected indent (CreatorTemp/ipykernel_12092/2392603163.py, line 2)

In [166]:
x2

{'name ': {'k1': 'wer', 'k4': [345, 534535, 534]},
 'age': 3455,
 True: {45, 54, 454, 3454},
 'key': False,
 34554: 456,
 'sdffds': [34, 45, 456, 54, 545]}

In [167]:
x2.keys()

dict_keys(['name ', 'age', True, 'key', 34554, 'sdffds'])

In [168]:
for i in x2.keys() :
    print(x2[i])

{'k1': 'wer', 'k4': [345, 534535, 534]}
3455
{3454, 45, 454, 54}
False
456
[34, 45, 456, 54, 545]

In [169]:
for i in x2.keys() :
    print(type(x2[i]))

<class 'dict'>
<class 'int'>
<class 'set'>
<class 'bool'>
<class 'int'>
<class 'list'>

In [170]:
x2.items()

dict_items([('name ', {'k1': 'wer', 'k4': [345, 534535, 534]}), ('age', 3455), (True, {3454, 45, 454, 54}), ('key', False), (34554, 456), ('sdffds', [34, 45, 456, 54, 545])])

In [171]:
for i in x2.items():
    print(i)

('name ', {'k1': 'wer', 'k4': [345, 534535, 534]})
('age', 3455)
(True, {3454, 45, 454, 54})
('key', False)
(34554, 456)
('sdffds', [34, 45, 456, 54, 545])

In [172]:
for i in x2.items():
    print(i[0])                  #all the key extract out of this one

name
age
True
key
34554
sdffds

In [173]:
x5 = {(35,56,56) : "fdddsggd"}

In [174]:
x5

{(35, 56, 56): 'fdddsggd'}

In [175]:
x5[(35,56,56)]       #excess the extractive data

'fdddsggd'

In [176]:
x2

{'name ': {'k1': 'wer', 'k4': [345, 534535, 534]},
 'age': 3455,
 True: {45, 54, 454, 3454},
 'key': False,
 34554: 456,
 'sdffds': [34, 45, 456, 54, 545]}

In [177]:
len(x2)

6

In [178]:
#(0) take input as paragraph by using input function.

#(1) convert all of this input into list of words.
#(2) remove all the duplicate elements from your list.
#(3) use above distince elements as a key for dictionay and assign your name as a value of all the key for dictionary.
#(4) try to print tuple of all the values 
#(5) try to print list of all the key.

In [ ]:
paragraph = input("Enter your value")
l1 = paragraph("enter yoy value")
s1 = set(l1)
dict1 = dict.keys(s1, 'prateek') 
t1 = tuple(dict1.key())
l2 = list(dict1.values())

In [198]:
d = {"compant" :"ineuron","course":"full stake data science" , "year": 2021}

In [204]:
for i in d:
    print(" print a key  : ",i , " ; ", "value wise : " , d[i])

 print a key  :  compant  ;  value wise :  ineuron
 print a key  :  course  ;  value wise :  full stake data science
 print a key  :  year  ;  value wise :  2021

In [205]:
"course" in d

True

In [206]:
for i in d :
    if i == 'year':
        if d[i] > 2021:
            print("year is fine")
        else:
            d[i] = 2022

In [207]:
d

{'compant': 'ineuron', 'course': 'full stake data science', 'year': 2022}

In [208]:
my_dict ={}
for i in range(10):
    my_dict[i] = i *i

In [209]:
my_dict

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [211]:
{i:i*i for i in range(10)}             #same concept

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [214]:
{i:i*i for i in range(0,10,2)}           #even number

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [216]:
{i:i*i for i in range(0,10,3)}            #odd number

{0: 0, 3: 9, 6: 36, 9: 81}