In [1]:
a = 10
b = 20
a+b

30

In [2]:
def test(x,y):
    print(x+y)

In [3]:
test(23,45) + 6                  #

68

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [4]:
type(test(23,45))

68

NoneType

In [5]:
b = test(34,56)

90

In [6]:
test(4,8)

12

In [7]:
def test1(b,m):                        
    return b * m

In [8]:
test1(5,89) + 6                       # In function we will used this operation

451

In [9]:
type(test1(8,89))

int

In [10]:
a = test1(5,89)      # stored your data

In [11]:
a

445

In [12]:
type(a)

int

In [13]:
def test2(t,n,m):
    return t + n

In [14]:
test2(2,3,0)                        #  if you show only two number can't give you the total number

5

In [15]:
def test3(n, m):
    return n * 10 , m*40  , m + n

In [16]:
test3(2,7)

(20, 280, 9)

In [17]:
type(test3(2,7))

tuple

In [18]:
c,x,v = test3(2,7)

In [19]:
c

20

In [20]:
x

280

In [21]:
v

9

In [22]:
c , x , _=test3(2,7)

In [23]:
c

20

In [24]:
x

280

In [25]:
_

280

In [26]:
c,_, m = test3(2,7)

In [27]:
c

20

In [28]:
_

280

In [29]:
m

9

In [30]:
def test():
    print('this is my first function')

In [31]:
test()

this is my first function

In [32]:
def test7():
    return 'this is my first class'

In [33]:
test7()

'this is my first class'

In [34]:
n = test7()

In [35]:
n + "fdffdfd"

'this is my first classfdffdfd'

In [36]:
def test8(n):
    return n * 3

In [37]:
test8([3,4,5,6,7])                        # repeate the number as per tuple digit

[3, 4, 5, 6, 7, 3, 4, 5, 6, 7, 3, 4, 5, 6, 7]

In [38]:
test8(67)

201

In [39]:
def test9(n):
    return n,n*7

In [40]:
test9([4,5,6,6,7])               #  repeate the number as per tuple digit

([4, 5, 6, 6, 7],
 [4,
  5,
  6,
  6,
  7,
  4,
  5,
  6,
  6,
  7,
  4,
  5,
  6,
  6,
  7,
  4,
  5,
  6,
  6,
  7,
  4,
  5,
  6,
  6,
  7,
  4,
  5,
  6,
  6,
  7,
  4,
  5,
  6,
  6,
  7])

In [41]:
def test9(n):
    return n,n*2

In [42]:
test9([4,5,6,6,7])

([4, 5, 6, 6, 7], [4, 5, 6, 6, 7, 4, 5, 6, 6, 7])

In [43]:
b = test9([4,5,6,6,7])

In [44]:
b

([4, 5, 6, 6, 7], [4, 5, 6, 6, 7, 4, 5, 6, 6, 7])

In [45]:
b[0]

[4, 5, 6, 6, 7]

In [46]:
b[1]

[4, 5, 6, 6, 7, 4, 5, 6, 6, 7]

In [51]:
def test10(n , m = 90 ):
    return n + m

In [52]:
test10(60)

150

In [53]:
test10(60, 30)

90

In [ ]:
print()

In [54]:
def boolx (x = True , y = False):
    return x + y

In [55]:
boolx()

1

In [56]:
boolx(False)

0

In [57]:
boolx(False, 0)

0

In [59]:
boolx(False , 8)                       # it's a value creation like 'True' or 'False' formate

8

In [60]:
True + False

1

In [63]:
def travel(bike = True , car = False):
    plan_travel = bike or car
    return bike , car, plan_travel

In [64]:
travel()

(True, False, True)

In [66]:
travel(False)

(False, False, False)

In [68]:
travel(True)

(True, False, True)

In [69]:
travel(car = True)

(True, True, True)

In [70]:
travel(_, True)

(280, True, 280)

In [71]:
_

280

In [74]:
def test11(*args):                        # 
    return args

In [75]:
test11('prateek' , 'kumar' , 34,[34,4,4,5,454,54])                # multiple variety of the data

('prateek', 'kumar', 34, [34, 4, 4, 5, 454, 54])

In [82]:
def test12(a , b , c):
    return a + b + c

In [84]:
test12([1,2,3,4] , [4,5,6] ,[4,5,6,7,8])

[1, 2, 3, 4, 4, 5, 6, 4, 5, 6, 7, 8]

In [88]:
def test13(*args):
    l = []
    for i in args:
        l.append(i)
    return l

In [89]:
test13([3,4,5,6] , [3,4,5,6,7] , [3,4,5,6])

[[3, 4, 5, 6], [3, 4, 5, 6, 7], [3, 4, 5, 6]]

In [90]:
def test13(*args):
    l = []
    for i in args:
        l = l + i
    return l

In [91]:
test13([3,4,5,6] , [3,4,5,6,7] , [3,4,5,6])

[3, 4, 5, 6, 3, 4, 5, 6, 7, 3, 4, 5, 6]

In [92]:
test13([4,5,6,6],[4,5,6,7])

[4, 5, 6, 6, 4, 5, 6, 7]

In [99]:
def test14(*args):
    return [i for i in args]

In [100]:
test14([4,5,6,6],[4,5,6,7])

[[4, 5, 6, 6], [4, 5, 6, 7]]

In [101]:
def test15(*args):
    l = []
    for i in args:
        if type(i) == list:
            l = l + i
    return l

In [102]:
test15('fdffddf' , 234,[324,25,42,15],[6,5,8,5])

[324, 25, 42, 15, 6, 5, 8, 5]

In [103]:
def test16(**kwargs):
    return kwargs

In [104]:
test16(4,56,56)                     # it is not working in kwargs

TypeError: test16() takes 0 positional arguments but 3 were given

In [105]:
test16(a = 8 , b = 8 , c = 7 , d = 78)         # they accept only such kind of aurgament key value pair formate like dictionay

{'a': 8, 'b': 8, 'c': 7, 'd': 78}

In [106]:
test16()

{}

In [108]:
test16(a = 8 , b = True , c = [4,5,6,7,'prateek'], d = 'kumar')      # only key and vale pass

{'a': 8, 'b': True, 'c': [4, 5, 6, 7, 'prateek'], 'd': 'kumar'}

In [110]:
def test17(*args):
    return args

In [112]:
test17(4,5,6,7,'prateek',[4,5,6,7,8])              # it is return me tuples

(4, 5, 6, 7, 'prateek', [4, 5, 6, 7, 8])

In [ ]:
# create a function number of a mixed data and try to create a list of seperate data based on datatype and return multiple result
# create a function which will be able to use args and kwargs and it will be able to do all this list value concatination and return a list.

In [117]:
def test18(a , b , c , d , e):
    return a + b + c + d + e

In [118]:
test18([4,2,4,],[6+5j],['prateek','fdfdfd'],[6.42],[True])

[4, 2, 4, (6+5j), 'prateek', 'fdfdfd', 6.42, True]

In [119]:
test[0]

TypeError: 'function' object is not subscriptable

In [142]:
def fun1(*args):
    a=[]
    b=[]
    c=[]
    d=[]
    e=[]
    f=[]
    g=[]
    h=[]
    
    for i in args:
        if type(i)==int:
            a.append(i)
        if type(i)==str:
            b.append(i)
        if type(i)==list:
            c.append(i)
        if type(i)==bool:
            d.append(i)
        if type(i)==complex:
            e.append(i)
        if type(i)==float:
            f.append(i)
        if type(i)==tuple:
            g.append(i)
        if type(i)==dict:
            h.append(i)
        return a,b,c,d,e,f,g,h

In [145]:
fun1(3,3,4,5,7.54,True,False , 'prateek',[4,5,8,7,8],6+5j)

([3], [], [], [], [], [], [], [])

In [147]:
def fun2(*args,**kwargs):
    i=[i for i in args if type(i) == list ]
    d=[i[1] for i in kwargs.items() if type(i[1]) == list]
    return i,d

In [149]:
fun2([4,5,6,7],[5,6,6,6,7], 5,54,5,84, a = 7 , b = 'gfgfgfg', m = [4,5,6,7])

([[4, 5, 6, 7], [5, 6, 6, 6, 7]], [[4, 5, 6, 7]])

In [150]:
def test18(**kwargs):
    return kwargs

In [158]:
test18(a = 6 , b = [7,5,7,8], d = [5,54,85,4], e = ['prateek',6+5j,7.65])

{'a': 6,
 'b': [7, 5, 7, 8],
 'd': [5, 54, 85, 4],
 'e': ['prateek', (6+5j), 7.65]}

In [160]:
def test18(**kwargs):
    for i in kwargs.items():
        print(i)
    return kwargs

In [161]:
test18(a = 6 , b = [7,5,7,8], d = [5,54,85,4], e = ['prateek',6+5j,7.65])

('a', 6)
('b', [7, 5, 7, 8])
('d', [5, 54, 85, 4])
('e', ['prateek', (6+5j), 7.65])

{'a': 6,
 'b': [7, 5, 7, 8],
 'd': [5, 54, 85, 4],
 'e': ['prateek', (6+5j), 7.65]}

In [175]:
def test18(**kwargs):
    for i in kwargs.items():
        if type(i[1])== list :
            if 'chaurasia' in i[1]:
                print('i am not able to find your name into a input data')
                print(i[1])
                
    return kwargs

In [176]:
test18(a = 6 , b = [7,5,7,8], d = [5,54,85,4], e = ['prateek',6+5j,7.65])

{'a': 6,
 'b': [7, 5, 7, 8],
 'd': [5, 54, 85, 4],
 'e': ['prateek', (6+5j), 7.65]}

In [186]:
def fun1(*args):
  dt = {}
  for i in args:
    if type(i) in dt:
       dt[type(i)].append(i)
    else:
       dt[type(i)] = [i]
    return dt 
fun1(1,2,3,[5,6,7],'prat','kumm',6+6j)

{int: [1]}